/* style.css */

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; /* Adding a background color */
    align-items: center;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #3d2e2e; /* Adding a white background for the container */
    border-radius: 10px; /* Adding rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adding a subtle box shadow */
    align-items: center;
  }
  
  .container p {
    font-size: 18px;
    color: white;
    margin-bottom: 15px;
  }
  
  .container input {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
  }
  
  .container button {
    background-color: #3498db;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  /* Add responsive styles */
  @media screen and (max-width: 768px) {
    .container {
      padding: 15px;
    }
  
    .container p {
      font-size: 16px;
      color: white;
    }
  
    .container input {
      padding: 8px;
    }
  
    .container button {
      padding: 8px 16px;
    }
  }
  
  @media screen and (max-width: 480px) {
    .container {
      padding: 10px;
    }
  
    .container p {
      font-size: 14px;
      color: white;
    }
  
    .container input {
      padding: 6px;
    }
  
    .container button {
      padding: 6px 12px;
    }
  }
  
  /* Add animation */
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .imgBox img {
    animation: fadeIn 0.5s ease; /* Apply the fade-in animation */
  }
  